.control {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 3vw;

  button:nth-child(2){
    margin-left: 21vw;
    margin-right: 21vw;
  }

}

.stop {
  padding: 0.8vw 3vw;
  border-radius: 4px;
  border: none;
  font-size: 1vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: $color-third;
  color: $color-light;
}

