.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  background-color: $color-third;
  // padding: 1rem;
  font-family: 'Oswald', sans-serif;
  color: $color-light;

  h1{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 5px;
    word-spacing: 10px;
  }
}

.site-nav{
  ul {
    display: flex;
    list-style-type: none;

    li {
      margin-left: 4rem;

      a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        font-size: 1rem;
        transition: 0.2s linear;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}