body {
  background-color: $color-body;
}

.content {
  width: 24vw;
  height: 42vw;
  margin-top: 100px;
  // margin-left: 3vw;
  background-color: $color-content;
}

.container-up {
  display: flex;
  width: 24vw;
  height: 24vw;
  background-color: $color-primary;
}

.display {
  width: 18vw;
  height: 24vw;
  background-color: $color-primary;
}

.container-aside {
  width: 6vw;
  height: 24vw;
  background-color: $color-primary;
}

.container-down {
  width: 24vw;
  height: 18vw;
  background-color: $color-primary;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 24vw;
  height: 6vw;
  background-color: $color-primary;

}

.miniature {
  width: 6vw;
  height: 6vw;
  background-color: $color-primary;
  border-width: 2px;
  border-color: $color-red;
}

.miniature:hover {
  opacity: 0.5;
}

.display {
  @include display(url(../images/display/miniature-one.jpg));
}

.miniature-one {
  @include display(url(../images/miniature-one.jpg));
}

.miniature-two {
  @include display(url(../images/miniature-two.jpg));
}

.miniature-three {
  @include display(url(../images/miniature-three.jpg));
}

.miniature-four {
  @include display(url(../images/miniature-four.jpg));
}

.miniature-five {
  @include display(url(../images/miniature-five.jpg));
}

.miniature-six {
  @include display(url(../images/miniature-six.jpg));
}

.miniature-seven {
  @include display(url(../images/miniature-seven.jpg));
}

.miniature-eight {
  @include display(url(../images/miniature-eight.jpg));
}

.miniature-nine {
  @include display(url(../images/miniature-nine.jpg));
}

.miniature-ten {
  @include display(url(../images/miniature-ten.jpg));
}

.miniature-eleven {
  @include display(url(../images/miniature-eleven.jpg));
}

.miniature-twelve {
  @include display(url(../images/miniature-twelve.jpg));
}

.miniature-threeteen {
  @include display(url(../images/miniature-threeteen.jpg));
}

.miniature-fourteen {
  @include display(url(../images/miniature-fourteen.jpg));
}

.miniature-fifteen {
  @include display(url(../images/miniature-fifteen.jpg));
}

.miniature-sixteen {
  @include display(url(../images/miniature-sixteen.jpg));
}

.display-two {
  @include display(url(../images/display-two/picture-one.jpg));
}

.picture-one {
  @include display(url(../images/pictures/picture-one.jpg));
}

.picture-two {
  @include display(url(../images/pictures/picture-two.jpg));
}

.picture-three {
  @include display(url(../images/pictures/picture-three.jpg));
}

.picture-four {
  @include display(url(../images/pictures/picture-four.jpg));
}

.picture-five {
  @include display(url(../images/pictures/picture-five.jpg));
}

.picture-six {
  @include display(url(../images/pictures/picture-six.jpg));
}

.picture-seven {
  @include display(url(../images/pictures/picture-seven.jpg));
}

.picture-eight {
  @include display(url(../images/pictures/picture-eight.jpg));
}

.picture-nine {
  @include display(url(../images/pictures/picture-nine.jpg));
}

.picture-ten {
  @include display(url(../images/pictures/picture-ten.jpg));
}

.picture-eleven {
  @include display(url(../images/pictures/picture-eleven.jpg));
}

.picture-twelve {
  @include display(url(../images/pictures/picture-twelve.jpg));
}

.picture-threeteen {
  @include display(url(../images/pictures/picture-threeteen.jpg));
}

.picture-fourteen {
  @include display(url(../images/pictures/picture-fourteen.jpg));
}

.picture-fifteen {
  @include display(url(../images/pictures/picture-fifteen.jpg));
}

.picture-sixteen {
  @include display(url(../images/pictures/picture-sixteen.jpg));
}