body {
  background-color: $color-body;
}

.content {
  width: 32vw;
  height: 96vh;
  margin: 20px auto 0;
  background-color: $color-content;
}

.container-up {
  display: flex;
  width: 30vw;
  height: 50vh;
  background-color: $color-red;
}

.display {
  width: 22vw;
  height: 50vh;
  background-color: $color-yellow;
}

.container-aside {
  width: 6vw;
  height: 50vh;
  background-color: $color-blue;
}

.container-down {
  margin-top: 10px;
  width: 30vw;
  height: 40vh;
  background-color: $color-green;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 28vw;
  height: 13vh;
  background-color: $color-brown;

}

.miniature {
  margin-top: 5px;
  width: 6vw;
  height: 6vw;
  background-color: $color-miniature;
  border-width: 3px;
  border-color: $color-red;
}

.miniature:hover {
  opacity: 0.5;
}

.display {
  @include display(url(../images/display/miniature-one.jpg));
}

.miniature-one {
  @include display(url(../images/miniature-one.jpg));
}

.miniature-two {
  @include display(url(../images/miniature-two.jpg));
}

.miniature-three {
  @include display(url(../images/miniature-three.jpg));
}

.miniature-four {
  @include display(url(../images/miniature-four.jpg));
}

.miniature-five {
  @include display(url(../images/miniature-five.jpg));
}

.miniature-six {
  @include display(url(../images/miniature-six.jpg));
}

.miniature-seven {
  @include display(url(../images/miniature-seven.jpg));
}

.miniature-eight {
  @include display(url(../images/miniature-eight.jpg));
}

.miniature-nine {
  @include display(url(../images/miniature-nine.jpg));
}

.miniature-ten {
  @include display(url(../images/miniature-ten.jpg));
}

.miniature-eleven {
  @include display(url(../images/miniature-eleven.jpg));
}

.miniature-twelve {
  @include display(url(../images/miniature-twelve.jpg));
}

.miniature-threeteen {
  @include display(url(../images/miniature-threeteen.jpg));
}

.miniature-fourteen {
  @include display(url(../images/miniature-fourteen.jpg));
}

.miniature-fifteen {
  @include display(url(../images/miniature-fifteen.jpg));
}

.miniature-sixteen {
  @include display(url(../images/miniature-sixteen.jpg));
}